header {
    background: black;
    background-image:url(cupcakes.jpg) ;
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    height:600px;
    padding:20px;
    text-align: center;
}
header.mobile{
    display: none;
}
UL {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

}
nav li{
    background-color: red;
    display:inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 1px;
    
    
}
a{
    background-color: red;
    text-decoration: none;
}
li a {
    background:red;
    margin: 0px 40px 10px 0px;
    padding: 4px;
    border-radius:50px;
    display: inline-block;
    
}
a:hover{
    text-decoration: underline;
    background: rgb(47, 64, 160);
}

h1{
    background: rgb(85, 85, 31);
    text-align: center;
    margin: 20px;
    
}
h2{
    background-color: rgb(31, 24, 37);
    color: rgb(33, 33, 161);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    text-decoration: double;
}
h3{
    background-color: bisque;
    color: rgb(34, 3, 3);
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    margin: top 0;
    text-align: center;
    text-decoration: underline;
}

body {
    background: grey;
    background-repeat: no-repeat;
    color: rgb(27, 24, 24);
    font-family:  Helvetica Neue, sans serif, Arial, Helvetica;
    margin: 0px;
    padding: 0px;

}
table{
    background-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin:20px 40px 20px 800px;
    padding: 10px;;
    text-align: center;

}
section {
    background: white;
    color: grey;
    padding: 0px;
    
}
.features{
    background-color: rgb(146, 143, 138);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    margin:10px 80px 20px 30px;
}
.features figure{
    margin:auto;
    width: 200px;
}
.features figure img{
    border: 1px solid white;
    box-shadow: grey 0px 0px 10px;
    width:200px;
    border-radius:30px;
    text-align: center;
}
p{
    background-color:antiquewhite;
    color: rgb(105, 39, 78);
    font-size: x-large;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    
}
.features figure figcaption{
    color: rgb(168, 18, 18);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
form{
    background-color: rgb(81, 95, 95);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: blue;
    text-align: center;
    padding: 10px;
}
form button{
    background: rgb(23, 97, 146);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}
form button:hover{
    color: red;
    text-decoration: underline;
}
section div{
    background:rgb(27, 13, 13);
    display: inline-block;
    padding: 10px;
    margin: 1px 180px 1px 0px;
    
}
footer{
    background: rgb(72, 72, 82);
    color: rgb(196, 24, 196);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
}
@media screen and(max-width:715px){
    header .mobile{
        display:inline-block
    }
    header .desktop{
        display: none;
    }
    
}
